.ant-page-header {
  border-bottom: 1px solid #e4e4e4;
}

.portfolio-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-search-input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.portfolio-search-button {
  width: 90px;
  margin-right: 8px;
}

.trade-wrapper, .portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  background: #f9f9f9;
}

.buy-stocks-action {
  color: #15b515;
}