.ant-page-header {
  border-bottom: 1px solid #e4e4e4;
}

.portfolio-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-search-input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.portfolio-search-button {
  width: 90px;
  margin-right: 8px;
}

.portfolio-table-wrapper .portfolio-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-table-wrapper .portfolio-value-wrapper span+span {
  margin: 0.5em 0 0 0;
}

.portfolio-table-wrapper .ant-statistic-content {
  font-size: 1.4em;
} 

/* .portfolio-table-wrapper .ant-statistic-content .ant-statistic-content-value-decimal,
.portfolio-table-wrapper .ant-statistic-content .ant-statistic-content-suffix {
  font-size: 11px;
} */

.trade-wrapper, .portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  background: #f9f9f9;
}

.buy-stocks-action {
  color: #15b515;
}